@charset "UTF-8";
/* ViURFORM */

// Prefixes and objects:
// .vi-


.selectioncontainer .entrydescription {
  width: 220px;
  float: left;
  text-align: right;
  padding: 4px 10px 5px;
  min-height: 16px;
  border: 1px dotted #ddd;
  border-right-width: 0;
  background: #f9f9f9;
  overflow: hidden;
  line-height: 1.4em;
  font-size: 0.8em;
}

.file .fileentry img {
float: left;
margin-right: 0;
height: 26px;
border: 1px solid #ccc;
border-right-width: 0;
box-shadow: none;
}

/* #vi_input_bones
================================================== */

.bone.selectmulti div label,
.bone.accessselectmulti div label {
  border: 1px solid #ccc;
  border-top-width:0;
  clear:left;
  margin-left:241px;
  width:320px;
}

.bone.selectmulti div  label:first-of-type
{
  clear:none;
  margin-left:0;
  border: 1px solid #ccc;
}

.bone.selectmulti div label:nth-of-type(even)
{
  background-color:#eee;
}

.bone.selectmulti div label input
{
  float:right;
  width:15px;
  margin-right:0;
}

.bone.selectmulti div label span
{
  display:block;
  float:left;
}

.bone.selectmulti.access .access-state
{
  background-image: url('../icons/user-rights_sprite.svg');
  background-repeat: no-repeat;
  padding: 0;
  margin: 2px;
  width: 26px;
  height: 26px;
  border: 1px solid @failColor;
  background-color: #ccc;
  display: inline-block;
  transition: all .3s ease;
  cursor: pointer;
}

.bone.selectmulti.access .access-state.view {
  background-position: 0px -26px;
}

.bone.selectmulti.access .access-state.edit {
  background-position: -26px -26px;
}

.bone.selectmulti.access .access-state.delete {
  background-position: -52px -26px;
}

.bone.selectmulti.access .access-state.add {
  background-position: -78px -26px;
}

.bone.selectmulti.access .access-state.view.active,
.bone.selectmulti.access .access-state.view.disabled {
  background-position: 0px 0px;
}

.bone.selectmulti.access .access-state.edit.active,
.bone.selectmulti.access .access-state.edit.disabled {
  background-position: -26px 0px;
}

.bone.selectmulti.access .access-state.delete.active,
.bone.selectmulti.access .access-state.delete.disabled {
  background-position: -52px 0px;
}

.bone.selectmulti.access .access-state.add.active,
.bone.selectmulti.access .access-state.add.disabled {
  background-position: -78px 0px;
}

.bone.selectmulti.access .access-state.active {
  border-color: @successColor;
  background-color: lighten(@successColor, 10%);
}

.bone.selectmulti.access .access-state:hover,
.bone.selectmulti.access .access-state.active:hover {
  border-color:#555;
  background-color: #aaa;
}

.bone.selectmulti.access .access-state.disabled,
.bone.selectmulti.access .access-state.disabled:hover {
  border-color: #999;
  background-color: #ccc;
  pointer:not-allowed;
}

.text .preview {
  overflow:hidden;
  overflow-y:scroll;
  text-overflow: ellipsis;
  display: flex;
  flex-basis: 100%;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px;
}

.selectioncontainer,
.tagcontainer {
  display: inline-block;
}

.selectioncontainer{
  width: calc(53% - 2px);
}

.tagcontainer {min-width: 50%;}

.selectioncontainer button,
.tagcontainer button {
  margin-right: 15px;
}

.tagcontainer button {margin-bottom: 5px;}

.selectioncontainer .entrydescription,
.selectioncontainer label {
  border: 1px solid #ccc;
  border-right-width: 0;
  width: auto;
  min-width: 220px;
  max-width: 80%;
  height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectioncontainer .entrydescription,
.selectioncontainer label,
.selectioncontainer button {
  margin-bottom: 5px;
}
input:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: @mainColor;
}

.tag input[type=text] {
  margin-right:0;
  border-right-width: 0;
  margin-bottom: 5px;
  width: 220px;
}

form .tree-item input:focus,
form .relational input:focus {
  border-color: #939393;
}
form .tree-item:focus button:after,
form .relational:focus button:after {
  background-image: url(icons/vi_actions_sprite.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  content: ' ';
  position: relative;
  float: right;
  margin-top: 3px;
  margin-left: 4px;
  margin-right: 7px;
  background-position: 0px -64px;
}
@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0;
  }
  form > div > label,
  legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%;
  }
}
