@charset "UTF-8";
/* TOPBAR */

// Prefixes and objects:
// .vi-topbar-
// .vi-tb-

.vi-topbar {
  display: flex;
  height: @topbarHeight;
  border-bottom: 2px solid @mainColor;
  background: #fff;
  padding-right: 10px;
  .boxShadow(1, #000);
  .zIndex('nav', 50);
}

.vi-tb {
  &-left {}
  &-right {}
  &-logo {
    background: @mainColor;
    color:#fff;
    width: ~"calc(2.5rem + 3.75px)";
    display:flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    height: 100%;
    & svg {
      width:75%;
      height: 75%;
      fill:currentcolor;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 1.2em;
    color: @mainColor;
  }
  &-currentmodul {
    position: relative;
    text-align: center;
    float: left;
    width: auto;
    margin-top:10px;
    & img {
      width: 32px;
      height: 32px;
      float: left;
      margin: -5px 15px 0;
    }
  }
}

/* #vi-topbar
================================================== */

.iconnav {
  position: relative;
  font-size: .8em;
  line-height: 2.4em;
  margin-left: auto;
}
.iconnav li {
  float: left;
  color: #777;
}
.iconnav li a,
.iconnav li a:link,
.iconnav li a:visited {
  border-left: 1px solid #fafafa;
  border-bottom:2px solid @mainColor;
  color: #777;
  position: relative;
  padding: 7px 7px 7px;
  float: left;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.iconnav li a:hover,
.iconnav li a:active {
  color: #999;
  text-shadow: 0px 1px 1px #fff;
  background-color: #fff;
  text-decoration: none;
  border-bottom:2px solid @mainColor;
}
.iconnav li.is-inactive a,
.iconnav li.is-inactive a:link {
  color: #444;
}
.iconnav li.logout a {
  border-left: 1px solid #ddd;
  background-color: #ddd;
  -moz-box-shadow: inset 3px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 3px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 3px 1px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #777777;
}





