@charset "UTF-8";
/* Vi CSS 2018 */

// This is the master file.
// It imports all less files in their intended order for easy mass-inclusion.
// Should you need specific files, you can easily customize the imports.

// IGNITE
@import "ignite/ignite"; // Resets, basics, tools and generic elements.

// The framework:
@import "framework/_framework"; // page wrappers.

// Initialize and configurate fundamental elements.
@import "configuration/_appconf"; // variables and constants.

// Load generic elements.
@import "elements/_elements";

// Load widgets.
@import "widgets/topbar";
@import "widgets/actionbar";
@import "widgets/table";
@import "widgets/sidebar";
@import "widgets/accordion";
@import "widgets/tree";
@import "widgets/hierarchy";
@import "widgets/file";

// Load objects.
@import "objects/modulelist";
@import "objects/splash";
@import "objects/form";

@import "objects/progress";
@import "objects/alert";
@import "objects/tooltip";

@import "objects/textedit";

@import "objects/messenger";
@import "objects/login";
@import "objects/tasks";

// Bones
@import "bones/_bones";

// Status
@import "status/_status";

@import (optional) "../../../vi_customizing/custom";

// Old stuff:
.vi-screen.is-loading:after {
  background-image: url(../icons/status/is-loading32.gif);
  background-position: center 35%;
  background-repeat: no-repeat;
  background-color:rgba(255,255,255,0.6);
  position: absolute;
  z-index:1000;
  content:' ';
  width:100%;
  height:100%;
  display:block;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

