@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
/* css resets */
@import url('reset.css');

/* #Colors
 * Icon-Grey: #939393;
 * ViUR-Red: #BE1622;
 */




/* #Site Styles
================================================== */

body {
    font-family: 'Open Sans', Geneva, Arial, Helvetica, sans-serif;
    height:100%;
    line-height:1.4em;
    color: #333;
    font-size:100.01%;
    overflow-y:scroll;
    overflow-x: hidden;
    background-color:#ddd;
}


a {color:#333; text-decoration:none; cursor:pointer;}
a:visited {color:#333; text-decoration:none;}
a:hover {color:#222; text-decoration:underline;}

em { font-style:italic;}

h1 { font-size:1.4em; color:#cc0000;}
h2 { font-size:1.4em; color:#ccc;}
h3 {font-size:1em; color:#444;}

p { margin-bottom:10px;}

/* #Site Styles
================================================== */

.wrapper {width:100%;font-size:.95em;position:relative;top:0px;height:100%;background-color:transparent;}

/* #vi_topbar
================================================== */

	.vi_topbar {
		box-shadow:0px 3px 4px rgba(0,0,0,0.2);
		height: 45px;
		width:100%;
		position:fixed;
		z-index:10;
		border-bottom:1px solid #cc0000;
		background-color:#eee;
		background-color:rgba(238,238,238,0.8);
		background-image: -webkit-gradient(linear, right top, right bottom, from(rgba(238,238,238,0.8)), to(rgba(255,255,255,0.2))); /* webkit */
        background-image: -moz-linear-gradient(top center, rgba(238,238,238,0.8) 20%, rgba(255,255,255,0.2) 95%); /* mozilla - FF3.6+ */
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColor=#55eeeeee, endColorStr=#55FFFFFF); /* IE 5.5 - 7 */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColor=#55eeeeee, endColoStr=#55FFFFFF); /* IE8 uses -ms-filter for whatever reason... */
	}
		.vi_topbar h1, .vi_topbar h2 {
			line-height: 2em;    
			position:relative;
		    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
		    letter-spacing:1px;
		    font-weight:400;
		    float:left;
		    width:auto;
		    color:#fff;
		}
		.vi_topbar h1:before {
			content:' ';
			background-image: url('../../images/vi_app_logo.png');
			background-size:cover;
			width: 45px;
	  		height: 45px;
	  		display:block;
	  		z-index:11;
	  		float:left;
	  		margin-right:15px;
  		}
	  	.centername {
		    position:relative;
		    text-align:center;
		    float:left;
		    left:50%;
		    width:460px;
		    margin-left:-460px;
		}
			.centername img {
				width:32px;
				height:auto;
				float:left;
				margin:-5px 15px 0;
			}
		.iconnav {
		    position:relative;
		    font-size:.8em;
		    line-height:2.4em;
		    float:right;
		}
			.iconnav li {float:left; color:#777;}
			
				.iconnav li a, .iconnav li a:link, .iconnav li a:visited {
					border-left:1px solid #fafafa;
					border-bottom:2px solid #BE1622;
					color:#777; 
					position:relative;
					padding:7px 7px 7px;
					float:left; 
					text-decoration:none; 
					text-shadow:none;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
				.iconnav li a:hover,.iconnav li a:active {
				    color:#999;
   					text-shadow: 0px 1px 1px #fff;
				    background-color:#fff;
				    text-decoration:none;
				    border-bottom:2px solid #ff0000;
				    /*-moz-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6); -webkit-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6); box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6);*/
				}
				.iconnav li.inactive a, .iconnav li.inactive a:link{
				    color:#444;
				}
			.iconnav li.logout a {
			    border-left:1px solid #ddd;
			    background-color:#ddd;
			    -moz-box-shadow:inset 3px 1px 3px rgba(0, 0, 0, .2);
			    -webkit-box-shadow:inset 3px 1px 3px rgba(0, 0, 0, .2);
			    box-shadow:inset 3px 1px 3px rgba(0, 0, 0, .2);
			    border-bottom:2px solid #777777;
			}
				/* Icon Links */
			.iconnav li a.icon {
				color:transparent;
				letter-spacing:-1em;
				overflow:hidden;
				min-width:46px;
			}
			
			.iconnav li a.icon:before {
				background-image: url(icons/vi_iconnav_sprite.svg);
				background-repeat: no-repeat;
				width:32px;
				height:32px;
				content:' ';
				position:relative;
				float:left;
				margin-top:-1px;
				margin-left:7px;
				margin-right:7px;
			}
			
				/* Action Icons */
					.iconnav li a.icon.dashboard:before{background-position: 0px 0px;}	
					.iconnav li a.icon.myfiles:before{background-position: -32px 0px;}	
					.iconnav li a.icon.accountmgnt:before{background-position: -64px 0px;}	
					.iconnav li a.icon.settings:before{background-position: -96px 0px;}	
					.iconnav li a.icon.logout:before{background-position: -128px 0px;}	

			
			.iconnav li a.icon:hover {
				overflow:visible;
				min-width:130px;
				letter-spacing:normal;
					
			}
			
			.iconnav li.logout a:hover {
			    background-color:#eee;
			    -moz-box-shadow:inset 1px 0px 3px rgba(0, 0, 0, .2);
			    -webkit-box-shadow:inset 1px 0px 3px rgba(0, 0, 0, .2);
			    box-shadow:inset 1px 0px 3px rgba(0, 0, 0, .2);
			    border-bottom:2px solid #FF0000;
			}	
				.iconnav li a:hover,.iconnav li a:active {
				    color:#999;
				    background-color:#fff;
				    text-decoration:none;
				    border-bottom:2px solid #ff0000;
				    /*-moz-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6); -webkit-box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6); box-shadow:inset 0px 0px 4px rgba(0, 0, 0, .6);*/
				}
				.iconnav li.inactive a, .iconnav li.inactive a:link{
				    color:#444;
				}

/* #vi_manager
================================================== */
.vi_manager {
	overflow:hidden;
	overflow-y:auto;
	z-index:9;
	width:15.7%; /*298px*/
	position:fixed;
	background-color:#eeeeee;
	height: 100%;
}
	.modullist {margin: 45px 0 50px; overflow:hidden; border-right:1px solid #ccc}
	.modullist a, .modullist a:visited {
	    width:100%;
	    position:relative;
	    border-bottom:1px dotted #cccccc;
	    border-right: 1px solid #ccc;
	    float:left;
	    height:auto;
	    background-color:#f7f7f7;
	    background:-moz-linear-gradient(top, #f2f2f2, #f7f7f7); /* Firefox */
	    background:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f7f7f7)); /* Safari, Chrome */
		padding: 12px 13px;
	    -webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	
	.modullist a:hover, .modullist a:active {
	    background:#fff;
	    text-decoration:none;
	    /*background:-moz-linear-gradient(top, #eee, #ddd); /* Firefox */
	    /*background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); /* Safari, Chrome */
	}
	
	.modullist img { width:32px; height:32px; float:left;}
	.modullist h3 {
		float:left; 
	    letter-spacing:1px;
	    margin-left: 15px;
	    line-height: 32px;
		text-shadow: 0px 1px 1px #fff;
	}
	
	.modullist ul img { width:16px; height:16px; float:left; margin-left: 16px;}
		.modullist ul h3 {
			float:left; 
			letter-spacing:1px;
			margin-left: 15px;
	        line-height: 16px;
			text-shadow: 0px 1px 1px #fff;
			font-size:.8em;
	   		text-shadow:none;
	   		color:#666;
		}
		
		.modullist ul h3:before {
			margin-right:15px;
		}
	
	.modullist ul a {
		background-color:#e9e9e9;
	    background:-moz-linear-gradient(top, #e4e4e4, #e9e9e9); /* Firefox */
	    background:-webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#e9e9e9)); /* Safari, Chrome */
	}
		
	.modullist ul button {
		margin-top: -32px;
		position: relative;
		float: right;
		margin-right: 10px;
	}	
	
	.modullist ul button.closebtn {
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		padding:9px 2px 11px;
		line-height: 0;
		font-size: .7em;
		border: 1px solid #BE1622;
		background-color:#e30613;
	    background:-moz-linear-gradient(top, #BE1622, #e30613); /* Firefox */
	    background:-webkit-gradient(linear, left top, left bottom, from(#BE1622), to(#e30613)); /* Safari, Chrome */
	    color:transparent;
		letter-spacing:-1em;
		overflow:hidden;
	}
	
	.modullist ul button.closebtn:before {
				background-image: url(icons/vi_actions_sprite_white.svg);
				background-repeat: no-repeat;
				width:16px;
				height:16px;
				content:' ';
				position:relative;
				float:left;
				margin-top:-7px;
				background-position: 0px -64px;}	

	.modullist ul button.closebtn:hover {
				overflow:visible;
				min-width:90px;
				letter-spacing:normal;
				color:#eee;
			}

/* #vi_viewer
================================================== */	

.vi_viewer {margin-left:15.7%;
			width:84.3%; 
			float:left; 
			position:relative; 
			z-index:-1;
			background-color:#f4f4f4;
			/*border-left:1px solid #ccc; 
			border-right:1px solid #ccc;
			padding: 80px 30px 45px;
			min-height: 400px;
			min-width:500px; */
			}

/* #vi_operator
================================================== */	

.vi_operator {z-index:20; padding: 150px 30px 45px; float:left; min-width:42,4%; max-width:84,7%; min-height:500px; background:#ddd; overflow:hidden; } 
.vi_operator:first-of-type {background-color:#f6f6f6;}

	.vi_operator:nth-child(n+1):before {
		content:" ";
		margin-left:-90px;
		margin-top:50%;
		float:left;
		border-style: solid;
		border-width: 24px 30px;
		border-color: rgba(255, 255, 255, 0) #ddd rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	}

/* #actionbar
================================================== */

.vi_operator .actionbar {width:43.5%; 
						box-shadow:0px 3px 4px rgba(0,0,0,0.2);
						min-width:500px; 
						border-bottom:1px solid #BE1622; 
						position:fixed;
						margin-top: -105px;
						padding:15px;
						background-color:#eee;
						background-color:rgba(238,238,238,0.8);
						background-image: -webkit-gradient(linear, right top, right bottom, from(rgba(238,238,238,0.8)), to(rgba(255,255,255,0.2))); /* webkit */
				        background-image: -moz-linear-gradient(top center, rgba(238,238,238,0.8) 20%, rgba(255,255,255,0.2) 95%); /* mozilla - FF3.6+ */
				        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColor=#55eeeeee, endColorStr=#55FFFFFF); /* IE 5.5 - 7 */
				        -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColor=#55eeeeee, endColoStr=#55FFFFFF); /* IE8 uses -ms-filter for whatever reason... */
}
.vi_operator .actionbar img {border: 1px solid #aaa; border-right:0; width:16px; float:left; padding:5px 6px 5px 4px;
	background-color: #ddd;
    background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ddd));
    background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
    background: -o-linear-gradient(top, #fff 0%, #ddd 100%);
    background: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
    background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#ddd', GradientType=0);	}
.vi_operator .actionbar h3 {
	line-height:1em;
	margin-bottom:10px;
	color:#222;
	height:16px;
	padding:4px 15px 6px 10px;
	text-align:center;
	background-color: #ddd;
    background: -moz-linear-gradient(top, #fff 0%, #ddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #ddd));
    background: -webkit-linear-gradient(top, #fff 0%, #ddd 100%);
    background: -o-linear-gradient(top, #fff 0%, #ddd 100%);
    background: -ms-linear-gradient(top, #fff 0%, #ddd 100%);
    background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff', EndColorStr='#ddd', GradientType=0);	
	float:left;
	border: 1px solid #aaa;
	border-right:2px solid #BE1622;
	border-left:1px solid #ccc;
	margin-right:4px;
	}
	
.actionbar .operations {float:right;}


/* #vi_forms
================================================== */

form {
	overflow: hidden;
	width:100%;
}

fieldset {
	width:100%;
	border: 0;
	padding: 0;
}

legend {}

label {
	width: 25%;
	float: left;
	padding-right: 10px;
}

input, textarea, input[type="text"], input[type="email"], input[type="date"], input[type=url], input[type=password] {
	display:inline-block;
	padding:6px 7px 7px;
	height:16px;
	border:1px solid #ccc;
	border-bottom:1px solid #BE1622;
	box-shadow: inset 0px 0px 3px #eee;
	font-weight: lighter;
	border-radius: 0px;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eaeaea 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

input[type="date"] {width:162px;}

input[type="radio"], input[type="checkbox"] {
	margin-right: 15px;
}

textarea {width:512px; height:120px;}
select {width: 176px;}

form > fieldset > div {
  width: 75%;
  float: right;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #BE1622;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}

/* #vi_tooltip
================================================== */

	a.tooltip {
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		padding:8px 1px 1px;
		line-height: 0;
		font-size: .7em;
		border: 1px solid #00406d;
		background-color:#00406d;
	    background:-moz-linear-gradient(top, #009de1, #00406d); /* Firefox */
	    background:-webkit-gradient(linear, left top, left bottom, from(#009de1), to(#00406d)); /* Safari, Chrome */
	    color:transparent;
		letter-spacing:-1em;
		overflow:hidden;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;	
		display:inline-block;
		width:16px;
	}
	
	a.tooltip:before {
				background-image: url(icons/vi_actions_sprite_white.svg);
				background-repeat: no-repeat;
				width:16px;
				height:16px;
				content:' ';
				position:relative;
				float:left;
				margin-top:-7px;
				background-position: -16px -64px;}	

	a.tooltip:hover {
				overflow:visible;
				min-width:90px;
				letter-spacing:normal;
				color:#eee;
			}

/* #vi_buttons
================================================== */

button[type="button"] {
	border: 1px solid #999;
	color:#222;
	height:16px;
	padding:6px 7px 20px;
	margin:0;
	margin-right: 4px;
	text-align:center;
	background-color: #bbb;
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #bbb));
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -o-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -ms-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(to bottom, #ddd 0%, #bbb 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ddd', EndColorStr='#bbb', GradientType=0);	
	cursor:pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;	
}

button[type="button"]:hover {
	border: 1px solid #666;
	color:#222;	
	letter-spacing:normal;	
}

/* Icon Buttons */
button.icon {
	color:transparent;
	letter-spacing:-1em;
	overflow:hidden;
	min-width:28px;
}

button.icon:before, .modullist ul .action_add h3:before, .modullist ul .action_edit h3:before {
	background-image: url(icons/vi_actions_sprite.svg);
	background-repeat: no-repeat;
	width:16px;
	height:16px;
	content:' ';
	position:relative;
	float:left;
	margin-left:-1px;
	margin-top:-1px;
}

	/* Action Icons */
		button.add:before, .action_add h3:before {background-position: -16px 0px;}	
		button.edit:before, .action_edit h3:before {background-position: -64px 0px;}	
		button.clone:before{background-position: -32px 0px;}	
		button.delete:before{background-position: -48px 0px;}
			
		button.preview:before{background-position: -96px 0px;}	
		button.search:before{background-position: -112px 0px;}	
		
		button.save.close:before{background-position: 0px -16px;}	
		button.save.continue:before{background-position: -16px -16px;}	
		button.save.new:before{background-position: -32px -16px;}	

		button.reset:before{background-position: -64px -16px;}
		button.cancel:before{background-position: 0px 0px;}	

		button.mkdir:before{background-position: -32px -32px;}	
		button.upload:before{background-position: -48px -32px;}	

button.icon[type="button"]:hover {
	border: 1px solid #666;
	overflow:visible;
	color:#222;	
	min-width:120px;
	letter-spacing:normal;	
}


/* Red Buttons */
button.icon.cancel[type="button"]:hover,
button.icon.delete[type="button"]:hover {
	border: 1px solid #c31520;
	color:#fff;	
	background-color: #e20614;
    background: -moz-linear-gradient(top, #c31520 0%, #e20614 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c31520), color-stop(100%, #e20614));
    background: -webkit-linear-gradient(top, #c31520 0%, #e20614 100%);
    background: -o-linear-gradient(top, #c31520 0%, #e20614 100%);
    background: -ms-linear-gradient(top, #c31520 0%, #e20614 100%);
    background: linear-gradient(to bottom, #c31520 0%, #e20614 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#c31520', EndColorStr='#e20614', GradientType=0);	
}

button.icon.cancel[type="button"]:hover:before,
button.icon.delete[type="button"]:hover:before {
	background-image: url(icons/vi_actions_sprite_white.svg);
}

/* Green Buttons */
button.icon.add[type="button"]:hover,
button.icon.saveClose[type="button"]:hover {
	border: 1px solid #479c42;
	color:#fff;	
	background-color: #298342;
    background: -moz-linear-gradient(top, #298342 0%, #479c42 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #298342), color-stop(100%, #479c42));
    background: -webkit-linear-gradient(top, #298342 0%, #479c42 100%);
    background: -o-linear-gradient(top, #298342 0%, #479c42 100%);
    background: -ms-linear-gradient(top, #298342 0%, #479c42 100%);
    background: linear-gradient(to bottom, #298342 0%, #479c42 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#298342', EndColorStr='#479c42', GradientType=0);	
}

button.icon.add[type="button"]:hover:before,
button.icon.saveClose[type="button"]:hover:before {
	background-image: url(icons/vi_actions_sprite_white.svg);
}


/* #vi_tables
================================================== */

table {
	margin:0px;padding:0px;
	width:100%;
	height:100%;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	border:1px solid #cccccc;
	
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
	
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
	
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
	
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}


tbody tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}

thead tr:first-child td:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}

thead tr:first-child td:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
} 

tbody tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
} 

tr:hover td{}
tr:nth-child(odd){ background-color:#e5e5e5; }
tr:nth-child(even)    { background-color:#ffffff; } 
 
 td{
	vertical-align:middle;
	border:1px solid #cccccc;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
} tr:last-child td{
	border-width:0px 1px 0px 0px;
} tr td:last-child{
	border-width:0px 0px 1px 0px;
} tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
 thead tr td{
		background:-o-linear-gradient(bottom, #ff0000 5%, #bf0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #bf0000) );
	background:-moz-linear-gradient( center top, #ff0000 5%, #bf0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#bf0000");	background: -o-linear-gradient(top,#ff0000,bf0000);

	background-color:#ff0000;
	border:0px solid #cccccc;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
 thead tr:hover td{
	background:-o-linear-gradient(bottom, #ff0000 5%, #bf0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0000), color-stop(1, #bf0000) );
	background:-moz-linear-gradient( center top, #ff0000 5%, #bf0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000", endColorstr="#bf0000");	background: -o-linear-gradient(top,#ff0000,bf0000);
	background-color:#ff0000;
}

/* 
tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
} 
*/

tr.is_selected td {color:#fff; border-color:#880000;}
tr.is_selected:nth-child(odd) {background:#aa0000;}
tr.is_selected:nth-child(even) {background:#dd0000;}

tr.is_selected td {color:#000; border-color:#bbb;}
tr.is_focused:nth-child(odd) {background:#aaa;}
tr.is_focused:nth-child(even) {background:#ccc;}

tr.is_focused.is_selected:nth-child(odd) {background:#aa1100;}
tr.is_focused.is_selected:nth-child(even) {background:#aa2200;}


/* #vi_forest
================================================== */	
.tree {width:100%; min-height:500px;}
.treeitem {padding:7px;}

.breadcrumb {min-width: 500px; overflow:hidden;}
.breadcrumb .treeitem {float:left;}

.treeitem:before {
	background-image: url(icons/vi_actions_sprite.svg);
	background-repeat: no-repeat;
	width:16px;
	height:16px;
	content:' ';
	position:relative;
	float:left;
	margin-top:3px;
	margin-right: 7px
}

.treeitem.node:before {
	background-position: -32px -64px;
}

.selectioncontainer {
}
.file img {float:left; margin-right:7px; height:32px; width:auto; max-width:32px; margin-top:-7px; margin-left:-7px;}
.tree.cursor {background:#bbb;}
.tree.selected {background:#ccc;}

.tree.supports_upload {
	border:3px dashed #ddd;
	background:#eee;
	background-image:url(icons/status/supports_upload.svg);
	background-repeat: no-repeat;
	background-position:center;
}

.tree.supports_upload:after {
	content: 'Drag your files here.';
	display:block;
	margin-top:5%;
	font-size:1.5em;
	font-weight:800;
	color:#ddd;
	text-shadow:0px -1px 1px rgba(0,0,0,0.5);
	width:100%;
	text-align:center;
}


/* #vi_hierarchy
================================================== */	
.hierarchy {min-width:500px;}

.hierarchyitem {padding:7px; background:#ccc;}
.hierarchyitem:nth-of-type(odd) {background:#eee;}
.hierarchyitem.expaned ol {
				margin-top:7px;
				border:1px solid #ddd;}
				
.hierarchyitem.expaned ol li {				
				padding-left:14px;
				}

.expaned:before, .unexpaned:before {
				background-image: url(icons/vi_actions_sprite.svg);
				background-repeat: no-repeat;
				width:16px;
				height:16px;
				content:' ';
				position:relative;
				float:left;
				margin-top:3px;
				margin-left:4px;
				margin-right:7px;
				background-position: -0px -64px;
				} 
				
.expaned:before {background-position: -16px -64px;
				} 

/* #vi_popups and alerts
================================================== */	

.popup {
	position:absolute;
	width:100%;
	height:100%;
	z-index:1000;
	background:rgba(255,255,255,.5);
}

.alertbox {
	width:350px;
	height:auto;
	padding:25px 25px 30px;
	background:#eee;
	margin:10% auto;
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	border:1px solid #ccc;
	border-bottom:1px solid #BE1622;
}

/* #vi_badges
================================================== */	

.beta {
	background:url(../../images/beta_small.png) no-repeat top right;
	padding-right:35px;
}
	
/* #vi_messenger
================================================== */	

	.vi_messenger {
		box-shadow:0px -3px 3px rgba(0,0,0,0.2);
	    width:100%;
	    position:fixed;
	    top:100%;
	    border-top:2px solid #cc0000;
	    border-bottom:1px solid #cccccc;
	    background-color:#eee;
	    background-color:rgba(238,238,238,0.9); 
        background-image: -webkit-gradient(linear, right bottom, right top, from(rgba(238,238,238,0.9)), to(rgba(255,255,255,0.2)) ); /* webkit example */
        background-image: -moz-linear-gradient(center bottom, rgba(238,238,238,0.9) 20%, rgba(255,255,255,0.2) 95%); /* mozilla example - FF3.6+ */
		filter: progid:DXImageTransform.Microsoft.gradient( gradientType=0, startColor=#55eeeeee, endColorStr=#55FFFFFF); /* IE 5.5 - 7 */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient( gradientType=0, startColor=#55eeeeee, endColoStr=#55FFFFFF); /* IE8 uses -ms-filter for whatever reason... */
        margin-top:-30px;
	    padding:15px 30px;
	    z-index:10;
	    height:30px;
	}
		.statuslist {
			width:700px;
			margin:0 auto;
			background:#fff;
		}

/* #States
================================================== */		

:focus {outline: 1px dotted #ccc;}
:disabled {}		
.is_active {
    background-color: #BE1622;
}
.is_primary {}
.is_selected {}
.is_focused {}

input[type="submit"]:disabled,
button:disabled, 
input[type="text"]:disabled,
select:disabled,
textarea:disabled {
	color: #aaa;
	background: #e0e0e0;
	border: 1px solid #ccc;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
