@charset "UTF-8";
/* BUTTONS */

// Prefixes and objects:
// .btn-
// .btnGroup

.btn {
  .btn(
    @btnBackgroundColor:#f8f8f8,
    @btnPadding: @defaultPadding,
    @btnMargin: @defaultMargin,
    @btnBorderWidth: 1px,
    @btnBorderRadius: 4px,
    @btnShadow: 0,
    @btnShadowHover: 1,
    @btnShadowColor: @defaultShadowColor);
    &.is-busy,
    &.is-loading,
    &[aria-busy=true] {
      & .icon {
        & rect {
          animation: spin-square-ani 1s infinite ease-in-out both;
          &:nth-of-type(1n) {
            animation-delay: .2s;
          }
          &:nth-of-type(3n),
          &:nth-of-type(7n) {
            animation-delay: .6s;
          }
          &:nth-of-type(2n) {
            animation-delay: .4s;
          }
          &:nth-of-type(4n) {
            animation-delay: .8s;
          }
        }
      }
    }
}

/* Red button, white font */
.btn--viur {
  .colorizeBtn(
    @btnBackgroundColor: @mainColor,
    @btnBorderWidth: 1px,
    @btnShadow: 0,
    @btnShadowHover: 1);
}

/* Green button, white font */
.btn--primary,
.btn--lang.is-filled {
  .colorizeBtn(
    @btnBackgroundColor: @successColor,
    @btnBorderWidth: 1px,
    @btnShadow: 0,
    @btnShadowHover: 1);
}

/* Grey button, red font, red hover */
.btn--danger,
.btn--delete {
  .invertColorizedBtn(
    @btnBackgroundColor: @failColor,
    @btnBorderWidth: 1px,
    @btnShadow: 0,
    @btnShadowHover: 1);
}

/* Grey button, blue font, blue hover */
.btn--download,
.btn--edit {
  .invertColorizedBtn(
    @btnBackgroundColor: @hintColor,
    @btnBorderWidth: 1px,
    @btnShadow: 0,
    @btnShadowHover: 1);
}

.btn--lang {
  &.is-active {
    border-bottom: 2px solid fadeOut(@textColor, 60%)!important;
    &:before {
      content: '';
      border-style: solid;
      border-width: 5px;
      border-color: transparent transparent fadeOut(@textColor, 60%);
      position: absolute;
      bottom: 0;
      transform: translateX(50%);
    }
  }
}

.btn--access-state {
  &.is-active {
    color: contrast(darken(@successColor, 20%));
    background-color: lighten(@successColor, 10%);
    border: @defaultBorderWidth solid lighten(@successColor, 5%);
  }
}
