@charset "UTF-8";
/* FILE BONE */

.vi-bone {
  & .vi-file {
    &-imagepreview {
      .basicInput(@padding:0, @margin:@defaultMargin, @borderRadius:@defaultBorderRadius, @borderWidth:@defaultBorderWidth, @borderColor:darken(@defaultInputColor,10%));
      background-color: #fafafa;
      margin-right: 0;
      margin-left: 10px;
     /* width: 200px;
      height: 200px;*/
    }
  }
}

// See widget/file.less for more.
