@charset "UTF-8";
/* RECORD */

.vi-bone--recordBone .recordbone{
  flex: 1 1 auto;

}
.vi-bone--recordBone .recordbone .recordbone-entries{
  display: flex;
  flex-flow: column;

}

.vi-bone--recordBone .recordbone .recordbone-entry{
  display: flex;
  align-items: flex-start;

}

.vi-bone--recordBone .recordbone .recordbone-entry .vi-internaledit{
  border: 1px solid darken(@defaultInputColor,12%);
  display: flex;
  flex-basis: 100%;
  align-self: stretch;
  flex-direction: column;
}
