@charset "UTF-8";
/* SELECT */

.vi-bone--select {
  & .vi-bone-container.option-group {
    align-items: stretch;
    margin-top: @defaultMargin;
  }
}

.vi-bone--select-access {
  & .input-group {
    margin-right: @innerSpace;
  }
}
