@charset "UTF-8";
/* TEXT */

.vi-bone-txtpreview {
  overflow-x:hidden;
  overflow-y:scroll;
  text-overflow: ellipsis;
  display: flex;
  flex-basis: 100%;
}

div.note-modal-backdrop {
  .zIndex('overlay');
}

div.note-popover,
div.note-modal {
  .zIndex('alert');
}
