@charset "UTF-8";
/* TEXT */

.vi-bone-txtpreview {
  overflow-x:hidden;
  overflow-y:scroll;
  text-overflow: ellipsis;
  display: flex;
  flex-basis: 100%;
}

.vi-bone-container .note-editor {
  margin-top: @defaultMargin;
}

.note-modal-backdrop {
  .zIndex('overlay');
}

.note-popover,
.note-modal {
  .zIndex('alert');
}
