@charset "UTF-8";
/* POSITION STYLES */

.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}